<!doctype html>

<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Connect-TTI SPARTAN RACE Circle ARES</title>

    <link rel="ARES icon" href="./static/img/ares_logo.png" href="index.html">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script>
        $(document).ready(function () {
          $('.navbar-nav li a').on('click', function(){
            $('.navbar-collapse').collapse('hide');
          });
        });
    </script>
    <link rel='stylesheet' type='text/css' href="./static/style.css">
  </head>
  <body>
        <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="./static/img/ares_logo_2.png"></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class=" navbar-nav ml-auto">
            <li class="nav-item {% if page_type == "index" %}active{% endif %}">
              <a class="nav-link" href="./index.html">Home</a>
            <!-- </li>
            <li class="nav-item {% if page_type == "aboutus" %}active{% endif %}">
              <a class="nav-link" href='./templetes/aboutus.html'>About us</a>
            </li> -->
            <!-- <li class="nav-item {% if page_type == "history" %}active{% endif %}">
              <a class="nav-link" href={% url 'index2' %}>History</a>
            </li>
            <li class="nav-item {% if page_type == "members" %}active{% endif %}">
              <a class="nav-link" href={% url 'index2' %}>Members</a> -->
            <!-- </li>
            <li class="nav-item {% if page_type == "records" %}active{% endif %}">
              <a class="nav-link" href={% url 'records' %}>Records</a>
            </li> -->
            <li class="nav-item {% if page_type == "contact" %}active{% endif %}">
              <a class="nav-link" href='./templetes/contact.html'>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--- Image Slider -->
    <div class="container-fluid padding bg-white">
        <div class=" row padding main-bg">
            <div class="col-md-7">
                <div class=" p-2">
                    <h3>Connect</h3>
                    <hr class="newshr">
                    <div class="text-left px-3">
                        <p>住所 : &#12306;468-8511 名古屋市天白区久方二丁目12番地1　豊田工業大学</p>
                        <p>Email : <a href="mailto:spartan.ares.tti@gmail.com">spartan.ares.tti@gmail.com</a></p>
                        <p>Twitter : <a href="https://twitter.com/ares_tti">@ares_tti</a></p>
                        <p>ARES HP : <a href=https://yuki-11.github.io/Ares>https://yuki-11.github.io/Ares</a></p>
                        <p>豊田工業大学HP : <a href="https://www.toyota-ti.ac.jp/index.html">https://www.toyota-ti.ac.jp/index.html</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class=" p-2">
                    <h3>Map</h3>
                    <hr class="newshr mb-5">
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3264.0039721475623!2d136.9808134!3d35.1066117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600364adaa2017a7%3A0x50148772d2dc4fb5!2z6LGK55Sw5bel5qWt5aSn5a2m!5e0!3m2!1sja!2sjp!4v1589210556905!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--- Footer -->
    <footer>
      <div class=" container-fluid padding">
        <div class="row">
          <div class="col-md-4 text-left px-2">
            <div class="text-center">
              <a href="index.html"><img  src="./static/img/ares_logo_2.png" ></a>
            </div>
            <div class="text-left px-5">
              <hr class="light">
              <p>住所 : &#12306;468-8511 名古屋市天白区久方二丁目12番地1　豊田工業大学</p>
              <p>Email : spartan.ares.tti@gmail.com</p>
            </div>
          </div>
          <div class="col-md-4 text-left px-5">
            <hr class="light">
            <h5>Activity time</h5>
            <hr class="light">
            <p>Monday: 7pm - 9pm</p>
            <p>Saturday: 9am - 11am</p>
          </div>
          <div class="col-md-4 social text-left px-5">
            <hr class="light">
            <h5>Connect</h5>
            <hr class="light">
            <div class="text-left">
              <a href="#"><i class="fab fa-twitter fa-xs	"></i></a>
              <a href="https://www.toyota-ti.ac.jp/"><img class="img-responsive" src="./static/img/TTI-logo.png"></a>
              <a href="mailto:spartan.ares.tti@gmail.com"><i class="fas fa-envelope fa-xs "></i></a>
              <a href="#" hidden><i class="fab fa-youtube fa-xs " ></i></a>
            </div>
            </div>
          <div class="col-12 text-center pt-5">
            <h5>Copyright &copy; 2020 Toyota Technological Institute SPARTAN RACE Circle ARES</h5>
          </div>		
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  </body>
</html>